body {
  font-family: "calibri light", sans-serif, "Open Sans", "Gill Sans",
    "Gill Sans MT", "Trebuchet MS";
  color: rgb(68, 68, 68);
  /* background-color: rgb(35, 35, 37); */
}

.content {
  position: relative;
  max-width: 700px;
  min-height: 600px;
  height: 100%;
  margin: auto;
  /* background-color: rgb(228, 228, 228); */
  padding: 20px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin-bottom: -10px;
}

h2 {
  color: rgb(54, 55, 61);
  font-size: 32px;
  margin-left: 10px;
}

h3 {
  color: rgb(54, 55, 61);
  font-size: 26px;
  margin-left: 10px;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  background-color: rgb(57, 64, 95);
  padding: 10px;
  font-family: "calibri";
  font-size: 20px;
}

.nav li:last-child {
  position: absolute;
  /* justify-content: space-between; */
  right: 30px;
  opacity: 30%;
  /* margin-right: 10px; */
}

.nav-index {
  display: inline;
  padding: 10px;
}

.nav-index a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.active {
  background-color: rgb(42, 45, 61);
}

.nav-index > a:hover {
  color: rgb(28, 117, 98);
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-top: -15px;
  display: inline-block;
  width: 19%;
}
.form-group input {
  width: 90%;
}

.table {
  /* display: block; */
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.table td {
  background-color: rgb(232, 231, 255);
  height: 25px;
  /* margin: 5px; */
  /* padding-left: 20px; */
  border: 1px solid rgb(199, 233, 226);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.page-num {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.current_page {
  padding: 10px;
}

.page-num a {
  text-decoration: none;
  color: rgb(72, 135, 187);
  padding: 10px;
}

.footer a {
  text-decoration: none;
}
.footer {
  /* display: block; */
  position: absolute;
  width: 95%;
  text-align: center;
  color: gray;
  font-size: 12px;
  bottom: 10px;
  padding-top: 30px;
  border-top: 1px solid gray;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 375px) {
}
