body {
  font-family: "calibri light", sans-serif, "Open Sans", "Gill Sans",
    "Gill Sans MT", "Trebuchet MS";
  color: rgb(68, 68, 68);
  background-color: rgb(164, 164, 184);
}

.content {
  position: relative;
  max-width: 900px;
  min-height: 600px;
  height: 100%;
  margin: auto;
  background-color: white; /* background-color: rgb(228, 228, 228); */
  padding: 20px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin-bottom: -10px;
}

h2 {
  color: rgb(54, 55, 61);
  font-size: 32px;
  margin-left: 10px;
}

h3 {
  color: rgb(54, 55, 61);
  font-size: 26px;
  margin-left: 10px;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title img {
  display: flex;
  width: 60%;
  padding: 20px;
}
.nav {
  display: flex;
  list-style-type: none;
  background-color: rgb(57, 64, 95);
  padding: 10px;
  font-family: "calibri";
  font-size: 20px;
}

.nav li:last-child {
  position: absolute;
  right: 30px;
  /* opacity: 80%; */
}

.nav-index {
  display: inline;
  padding: 10px;
}

.nav-index a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.active {
  background-color: rgb(42, 45, 61);
}

.nav-index > a:hover {
  color: rgb(28, 117, 98);
}

#pc {
  display: block;
}

#mobile,
#tablet {
  display: none;
}

.home_container {
  display: flex;
  justify-content: space-around;
}
/* 
.home_container i {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: rgb(57, 64, 95);
  border: 1px solid rgb(57, 64, 95);
  border-radius: 50%;
  margin-bottom: 16px;
} */

.customer {
  padding: 20px;
  padding-top: 35px;
  margin: 5px;
  background-color: rgb(213, 213, 255);
  border-radius: 8%;
  text-align: center;
  width: 250px;
  height: 300px;
}

.customer i {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: rgb(57, 64, 95);
  border: 1px solid rgb(57, 64, 95);
  border-radius: 50%;
  margin-bottom: 16px;
}

.admin {
  padding: 20px;
  padding-top: 35px;
  margin: 5px;
  background-color: rgb(255, 213, 213);
  border-radius: 10%;
  text-align: center;
  width: 250px;
  height: 300px;
}

.admin i {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: rgb(95, 57, 57);
  border: 1px solid rgb(95, 57, 57);
  border-radius: 50%;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.login_container {
  display: inline-block;
  margin: auto;
  padding: 20px;
  background-color: rgb(213, 213, 255);
  border-radius: 8%;
  width: 300px;
  height: 300px;
}

.modification_main {
  display: flex;
}

.sideNavbar {
  display: inline-block;
  width: 150px;
  padding: 10px;
}

.sideBtn {
  margin: 5px 0;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  background-color: rgb(213, 213, 255);
  color: rgb(57, 64, 95);
  border: 0px;
  border-radius: 5px;
}

.sideBtn:hover {
  background-color: rgb(156, 156, 204);
}

.modi_contents {
  width: 700px;
}

form {
  font-size: 18px;
}

input,
button {
  margin: 5px 0;
  font-size: 15px;
  padding: 5px;
  border: 1px solid rgb(57, 64, 95);
  border-radius: 5px;
}

.form-group {
  margin-top: -15px;
  display: inline-block;
  margin: 0 3px;
  /* width: 19%; */
}
.form-group input {
  width: 90%;
}

.table {
  /* display: block; */
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.table th {
  background-color: rgb(232, 231, 255);
  height: 25px;
  border: 1px solid rgb(199, 233, 226);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.table td {
  background-color: rgb(247, 247, 255);
  height: 25px;
  border: 1px solid rgb(199, 233, 226);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.page-num {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.current_page {
  padding: 10px;
}

.page-num a {
  text-decoration: none;
  color: rgb(72, 135, 187);
  padding: 10px;
}

.footer a {
  text-decoration: none;
}
.footer {
  /* display: block; */
  position: absolute;
  width: 95%;
  text-align: center;
  color: gray;
  font-size: 12px;
  bottom: 10px;
  padding-top: 30px;
  border-top: 1px solid gray;
  margin-top: 50px;
}

.subscription {
  display: flex;
  justify-content: center;
}

.subscription_form,
.subscription_cancle_form {
  width: 90%;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(248, 247, 255);
}

.subscription_cancle_form {
  background-color: rgb(255, 247, 247);
}

.subscription_form .form-group,
.subscription_cancle_form .form-group {
  display: block;
  /* justify-content: flex-start; */
}

.subscription_form button {
  background-color: rgb(85, 89, 148);
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

.subscription_cancle_form button {
  display: flex;
  background-color: rgb(148, 85, 85);
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  align-items: flex-end;
}

.btn {
  margin-top: 10px;
}

.updateMovie .form-group {
  display: flex;
  align-items: center;
}

.updateMovie label {
  width: 100px;
  text-align: right;
  margin-right: 20px;
}

.updateMovie input {
  width: 60%;
}

.updateBtn {
  width: 62%;
  margin-left: 120px;
  padding: 10px;
  color: white;
  background-color: rgb(85, 89, 148);
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 100%;
  }
  .table .table-status,
  .table-sound,
  .table-versions,
  .table-price,
  .table-aspect,
  td + td + th {
    display: none;
  }
  .subscription {
    display: inline-block;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .content {
    max-width: 100%;
  }
  .table .table-status,
  .table-studio,
  .table-sound,
  .table-versions,
  .table-price,
  .table-rating,
  .table-year,
  .table-aspect,
  td + td + th {
    display: none;
  }

  .search + div {
    display: none;
  }

  /* .nav {
    font-size: 18px;
  } */
  .nav li:last-child a {
    visibility: hidden;
  }
  .nav li:last-child a:after {
    content: "Sub";
    visibility: visible;
  }

  .active {
    background-color: transparent;
    color: rgb(42, 45, 61);
  }
}
